<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/dropColl.js"></script>
<h1>Admin</h1>
<h3>Drop Collections</h3>
<button onclick="dropConversation()">conversation</button><br>
<button onclick="dropAutorization()">autorization</button><br>
<button onclick="dropParticipant()">participation</button><br>
<button onclick="dropMessages()">message</button><br>
<span id="message"></span>
