<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversations</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" href="/css/conversations.css">
        <link rel="stylesheet" href="/css/userPhoto.css">

    </head>
    <body>
        <div>
            <form name="conversations">
                <fieldset>
                    <br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img class="logo" src="logo.png" alt="logo"><%- include('../partials/userPhoto', data, user) %>
                    <br><div><span class="textAlign" id="message"></span></div>
                    <div><h1 class="textAlign">Conversations</h1></div>
                    <div class="conversationsList scroll" id="conversationsList">
                        <%- include('./partials/contentConversationList', data, conversationsList,authenticationList, user, participant) %>
                    </div>
                    <br>
                    <div>
                       <a href="/addconversation"> <img class="addConversation" src="add.png" alt="addConversation"><span>New Conversation</span></a>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/logout"><img class="home" src="on-off.png" alt="Home"></a>
                    <br>

                    <div class="alignElement">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portuguese</div>
                    <br>

                </fieldset>
            </form>
        </div>

        <br><br>
    </body>
</html>