<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Add conversation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/scripts-jQuery.js"></script>

    <link rel="stylesheet" href="/css/newConversation.css">
    <link rel="stylesheet" href="/css/userPhoto.css">


    <!--create style to align form fields to center -->

</head>
<body>
<div>
    <form name="addConversation">
        <fieldset>
            <br>
            <a href="conversations"><img class="back" src="left-arrow.png" alt="Conversations" ></a><img class="logo" src="logo.png" alt="logo"><%- include('../partials/userPhoto', data,user) %>
            <br><h3 class="team">New Conversation</h3>
            <label for="name"></label>
            <input class="alignElement" placeholder="conversation name" id="name" name="name"><br>
            <span class="alignElement" id="nameValidation"></span><br>
            <%- include('./partials/contentUsersList', data,user) %>
            <span class="alignElement" id="userValidation"></span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="alignElement"  onclick="addConversationValidation(event)">add conversation</button>
            <br>
            <span class="alignElement" id="errorAddConversation"></span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/logout"><img class="home" src="on-off.png" alt="Home"></a>
            <br>
            <br>
            <div class="alignElement">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portuguese</div>
            <br>

        </fieldset>
    </form>
</div>
</body>
</html>