<div class="panel panel-default">
    <div class="panel-heading"> Users </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th scope="col">_id</th>
                <th scope="col">user</th>
                <th scope="col">pass</th>
                <th scope="col">email</th>
                <th scope="col">photo</th>
            </tr>
        <% for(var i=0; i<data.length; ++i){ %>
            <tr>
                <td><%= data[i]._id %></td>
                <td><a href="/user?user=<%= data[i].user %>"><%= data[i].user %></a></td>
                <td>pass remove from view</td>
                <td><a href="/user?email=<%= data[i].email %>"><%= data[i].email %></a></td>
                <td><a href="/user?photo=<%= data[i].photo %>"><img width="40px" src="<%= data[i].photo %>"></a></td>
            </tr>
        <% } %>
        </table>
    </div>
</div>