<h1>Home</h1>

<h2>Project 1</h2>
<ol>
    <li>authentication</li>
    <ol>
        <li>signup</li>
        <li>login</li>
        <li>edit User</li>
        <li>admin delete User - GDPR</li>
    </ol>
    <li>conversation</li>
    <ol>
        <li>list Conversations</li>
        <li>add Conversation</li>
        <li>edit Conversations</li>
        <li>terminate Conversations</li>
    </ol>
    <li>messages</li>
    <ol>
        <li>list messages</li>
        <li>add message</li>
        <li>link message</li>
        <li>delete message</li>

    </ol>

</ol>

<a href='/login'>Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/register'>Register</a>