<!DOCTYPE html>
<html lang="en">
<head>
    <% for(var i=0; i<data.length; ++i){
    if( data[i].user == user ){%>
        <input hidden id="path" value="<%= data[i].photo %>">
        <input hidden id="user" value="<%= data[i].user %>">
    <% }
    } %>

    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/userPhoto.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script>
    $(document).ready(function(){
        var socket = io();
        var path = $("#path").val();
        var conversation_id = $("#conversation_id").val();
        var sender_id = $("#user").val();

        socket.emit('join_room', conversation_id);


        $('#sendButton').click(function(){
            var msg = $("#messageField").val();

            //alert(conversation_id);
            console.log('message',msg);
            if (msg != "") {
                socket.emit("send message", msg,conversation_id,sender_id,path);
            }else{
                alert("Please insert a valid message!!!!");
            }
        });

        socket.on('update',function(msg, path, message_id){


            $('#chatBox').append('<br>' + '<img id="circle" src="'+ path +'">' + '<textarea id="textArea" readonly>' + (msg) + '</textarea>' + '</img>' +'<img src="reply2.png" alt="reply" class="reply" value="'+String(message_id)+'">'+ '<br><br>');

            $('#messageField').val("");
            });
        });

    </script>
    <title>Conversation</title>
</head>
<body>

    <input hidden id="conversation_id" value="<%= conversation_id %>">
    <div id="mainBox">
        <a href="conversations"><img class="back" id="back" src="left-arrow.png" alt="Conversations" ></a>
        <div id="chatBox"></div>
        <form name="messsages">
                <input id="messageField" name="messageField" type="text" class="submit_on_enter">
                <input id="sendButton" type="button" value="Send">
        </form>
    </div>
</body>
</html>
