<div>
    <label class="usersListLabel" for="usersList" class="panel-heading">Pick Users </label><br>
    <select class="usersListSelect" id="usersList" name="usersList" multiple>
        <% for(var i=0; i<data.length; ++i){
            // dont show loged user added later on register DB
            if(data[i].user != user){
        %>

            <option value= <%= data[i].user %> ><%= data[i].user %></option>
        <% }
        } %>
    </select>
</div>