
<div class="contentUsersConv">
    <h3><label class="contentUsersConvLabel" for="usersList" >Users in Conversation </label></h3>
    <select class="contentUsersConvSelect" multiple="multiple" id="usersList">
    <% for(var i=0; i<data.length; ++i){
        if(data[i].user != user){
    %>
        <option value= <%= data[i].user%>
        <% for(var j=0; j<usersConv[0].usersList.length; ++j){
            if(data[i].user == usersConv[0].usersList[j]){
            %>

            selected
            <%}

        }%>
        ><%= data[i].user%></option><br>
    <%}
    } %>
    </select>
</div><br><br>