

    <div>
        <% for(var i=0; i<conversationsList.length; ++i){
            let part = false;
            let endDate = false;
        %>

            <%if(participant.length!= 0){
                console.log('as participant');
                part = false;
                for(var j=0;j<participant.length;++j){
                    if(participant[j].user == user && String(conversationsList[i]._id)  == String(participant[j].conversation_id)){%>

                    <%
                        console.log('participant belongs to conversation');
                        part = true;
                        if(participant[j].endDate == null){
                            console.log('participant open participation');
                            endDate = false;break;
                        }else{
                            console.log('participant ended participation');
                            endDate = true;
                        }

                    }
                }%>

            <%
                if(part){ console.log('participant belongs to conversation button');%>
                    <button onclick="goMessages(event,'<%= conversationsList[i]._id %>','<%= user %>')"><%= conversationsList[i].name %></button>&nbsp;&nbsp;&nbsp;
                <%}else{console.log('participant dont belongs to conversation');%>
                    <%= conversationsList[i].name %>&nbsp;&nbsp;&nbsp;
                <%}
            }
            else{console.log('as no participation sync problem here');%>
                <%= conversationsList[i].name %>&nbsp;&nbsp;&nbsp;
            <%}

            for(var k=0;k<participant.length;k++){

                if(user == participant[k].user && participant[k].role =="admin" && String(conversationsList[i]._id) == String(participant[k].conversation_id) && participant[k].endDate === null ){
                console.log('participant is admin and as active participation');
                %> <% %>
                    <input class="edit"  onclick="editConversation(event,'<%= conversationsList[i].name %>')" type="image" name="<%= conversationsList[i].name %>" src="edit3.png" />&nbsp;&nbsp;&nbsp;
                <%
                }
            }
            let state = false
            for(var l = 0;l<authenticationList.length ;l++){
                if(String(conversationsList[i]._id) == String(authenticationList[l].conversation_id) && authenticationList[l].state == '' ){
                    console.log('authorization is pending ');
                    state = true
                    //console.log("invite")
                }
            }

            if(state){%>
                <input class="edit"  onclick="addParticipant(event,'<%= user %>','<%= conversationsList[i]._id %>')" type="image" name="<%= conversationsList[i].name %>" src="check-right.png" />&nbsp;&nbsp;&nbsp;
                <input class="edit"  onclick="inactiveAuthorization(event,'<%= user %>','<%= conversationsList[i]._id %>')" type="image" name="<%= conversationsList[i].name %>" src="check-wrong.png" />&nbsp;&nbsp;&nbsp;

            <%}
            if(part==true && endDate==true){console.log('participation inactive can do request to join back');%>
            <input class="edit"  onclick="requestComeBack(event,<%= conversationsList[i]._id %>)" type="image" name="<%= conversationsList[i].name %>" src="request.png" />
            <%}
            %>

                <br>
            <%
        }%>

    </div>
