<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Project 1</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>

	<!--create style to align form fields to center -->
	<link rel="stylesheet" href="/css/login.css">
	
</head>
<body>
	<div>
		<form  name="login">
			<fieldset style="place-self: center center">
				<br>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<img class="logo" src="logo.png" alt="logo">
				<br>
				<br>
				<label for="user"></label>
				<input class="alignElement" placeholder="User" id="user" name="user"><br>
				<span id="userValidation"></span><br>
				<label for="pass"></label>
				<input class="alignElement" placeholder="Password" id="pass" name="pass" type="password"><br>
				<span id="passValidation"></span><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="alignElement" onclick="handleLogin(event)" >Sign in</button>
				<br>
				<span id="errorLogin"></span>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="register">Register</a>
				<br>
				<br>
				<br>
				<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portuguese</div>
			</fieldset>
		</form>
	</div>	
</body>
</html>