body
{
    margin-top: 20vh;
    margin-left: 40vw;
}
fieldset
{
    width:400px;
    height: 470px;
    background-color:darkcyan;
    border-style:none;
    border-radius: 15px;
}
.logo
{
    margin-left:20%;
    height:50px;
    width:50px;
}
.home
{
    margin-left:27%;
    height:35px;
    width:35px;
}
.edit
{

    height:15px;
    width:15px;
}
.addConversation
{

    margin-left:10%;
    height:40px;
    width:40px;
}

span
{
    position: absolute;
    margin-left:1%;
    height:40px;
    width:40px;
}
.alignElement
{
    margin-left:25%;
}
.conversationsList
{
    margin-left: 5%;
    margin-right: 5%;
    height: 40%;

}

.scroll {
    overflow-y: scroll;

}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.textAlign
{
    text-align: center;
}