body
{
    margin-top: 20vh;
    margin-left: 40vw;
}
fieldset
{
    width:400px;
    height: 500px;
    background-color:darkcyan;
    border-style:none;
    border-radius: 15px;
}

.logo
{
    margin-left:25%;
    height:50px;
    width:50px;
}
.home
{
    margin-left:28%;
    height:35px;
    width:35px;
}
.team
{
    margin-left:30%;

}
.back
{
    margin-left:7%;
    height:35px;
    width:35px;
}
.alignElement
{
    margin-left:25%;
}

.usersListLabel
{

}

.contentUsersConv
{
    margin-left:15%;
}
.contentUsersConvLabel
{
    margin-left:11%;

}
.contentUsersConvSelect
{
    margin-left:17%;
    -webkit-appearance: menulist-button;
    width: 100px;
    height: 95px;
}

.updateButton
{
    margin-top:3vh;
    margin-left:15%;
}
