body
{
    margin-top: 20vh;
    margin-left: 40vw;
}
fieldset
{
    width:200px;
    height: 300px;
    background-color:darkcyan;
    border-style:none;
    border-radius: 15px;
}
.logo
{
    height:50px;
    width:50px;
}

.alignElement
{
    margin-left:15px;
}
