#textArea
{
    text-align:left;
    font-size:15px;
    font-family: Verdana;
    color:black;
    border: 2px solid #f1c40f;
    margin-top: -5px;
    margin-left: 25px;
    width:550px;
    height:90px;
    background-color:white;
    border-radius:12px;
    resize: none;
    outline: none;
}

#circle
{
    width:50px;
    height:50px;
    border-radius:100px;
    border: 5px solid white;
    margin-top: -20px;
    margin-left:25px;
    background-color:#f1c40f;
}

#mainBox
{
    background-color:darkcyan;
    border-style: solid;
    border-radius:15px;
    border-color:#3f3f3f;
    width:800px;
    height:600px;
    margin:auto;
}
#back
{
    position:absolute;
    margin:7px;
    margin-left:30px;
    width: 40px;
    height: 40px;
}

input
{
    height:35px;
    margin-left:5px;
}

#messageField
{
    width:640px;
    border-style:solid;
    border-radius:10px;
    border-color:#3f3f3f;
}

#sendButton
{
    width:125px;
    height:40px;
    border-style:solid;
    border-radius:10px;
    border-color:#3f3f3f;
}

#chatBox
{
    overflow-y:auto;
    height:530px;
}

::-webkit-scrollbar
{
    display:none;
}

.reply
{
    width:35px;
    height:35px;
    margin-left:25px;

}