body
{
    margin-top: 20vh;
    margin-left: 40vw;
}
fieldset
{
    width:400px;
    height: 470px;
    background-color:darkcyan;
    border-style:none;
    border-radius: 15px;
}

.logo
{
    margin-left:25%;
    height:50px;
    width:50px;
}
.home
{
    margin-left:28%;
    height:35px;
    width:35px;
}
.back
{
    margin-left:7%;
    height:35px;
    width:35px;
}
.alignElement
{
    margin-left:25%;
}

.usersListLabel
{
    margin-left:25%;
}
.usersListSelect
{
    margin-left:25%;
    -webkit-appearance: menulist-button;
    width: 175px;
    height: 100px;
}
.team
{
    margin-left:37%;

}