body
{
    margin-top: 20vh;
    margin-left: 40vw;
}
fieldset
{
    width:400px;
    height: 370px;
    background-color:darkcyan;
    border-style:none;
    border-radius: 15px;
}

.logo
{
    margin-left:20%;
    height:50px;
    width:50px;
}

span
{
    margin-left:30%;
}

.alignElement
{
    margin-left:25%;
}
