<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
	<title>Project 1</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>

	<link rel="stylesheet" href="/css/signup.css">


	<!--create style to align form fields to center -->

</head>
<body>
<div>
	<form name="signup" method="post" action="/register" enctype="multipart/form-data"  >
		<fieldset style="place-self: center center">
			<br>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img class="logo" src="logo.png" alt="logo">
			<br><span id="errorMessage"></span><br>
			<br>
			<label for="user"></label>
			<input class="alignElement" placeholder="User" id="user" name="user"><br>
			<span id="userValidation"></span><br>
			<label for="pass"></label>
			<input class="alignElement" placeholder="Password" id="pass" name="pass" type="password"><br>
			<span id="passValidation"></span><br>
			<label for="email"></label>
			<input class="alignElement" placeholder="Email" id="email" name="email" type="email"><br>
			<span id="emailValidation"></span><br>
			<label class="alignElement" for="photo">User photo:</label>
			<input class="alignElement"  placeholder="Photo" id="photo" name="photo" type="file" accept="image/*"><br>
			<span id="photoValidation"></span><br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="alignElement"  onclick="registerValidation(event)">add user</button>
			<br>

			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="alignElement"  href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login">Login</a>
			<br>
			<br>
			<div class="alignElement">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portuguese</div>
			<br>

		</fieldset>
	</form>
</div>
</body>
</html>