<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(process.cwd() + '/views/partials/head') %>
    <title>Users List</title>
    <link rel="stylesheet" href="/css/userList.css">
</head>
<body>
    <div class="panel">
        <h1>Users</h1>
    </div>
    <%- include('./partials/content', data) %>
    <br><br>
    <a alt="home" href="/login"><img class="userList" alt="home" src="home.png"></a>  <a alt="register" href="/register"><img class="userList" alt="register" src="signup3.png"></a>
</body>
</html>